{% extends "common/layout.html" %}
{% block content %}


<!--内容-->
<main class="row" style="margin-top: 100px">
    <!--  Table 数据表  -->
    <div class="col-sm-10 m-auto">
        <div class="table-responsive">
            <table class="table border-top-0">
                <caption> {{name}} 的通讯簿</caption>
                <thead>
                <tr>
                    <th>联系人</th>
                    <th>手机号</th>
                    <th>通讯地址</th>
                    <th>详情</th>
                    <th>修改</th>
                    <th>删除</th>
                </tr>
                </thead>
                <tbody>
<!--数据展示开始-->
                   {% if data %}
                    {% for item in data %}
                <tr>
                    <td>{{item.username }}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.address}}</td>
                    <td>
                        <a type="button " class="badge badge-success infoHref" data-toggle="modal"
                           data-target="#rowModelDetail{{loop.index0}}" href="/info?{{item.id}}">
                            查看详情 
                        </a>
                        <div class="modal fade" id="rowModelDetail{{loop.index0}}" tabindex="-1" role="dialog"
                             aria-labelledby="rowModel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="rmTitle{{loop.index0}}">联系人详情信息</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body m-auto infoModelBody">
                                        <!--   模态框联系人详情                                     -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">
                                            关闭
                                        </button>
                                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a type="button" class="badge badge-primary alterHref" data-toggle="modal"
                           data-target="#rowModelAlter{{loop.index0}}"  href="/alter?{{item.id}}">
                            修改
                        </a>
                        <div class="modal fade" id="rowModelAlter{{loop.index0}}" tabindex="-1" role="dialog"
                             aria-labelledby="rowModel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="rmAlterTitle1"> 联系人修改 </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body m-auto alterModelBody">

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"> 关闭
                                        </button>
                                        <button type="button" class="btn btn-outline-primary alterSave" > 确定</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a type="button" class="badge badge-danger deleteHref" data-toggle="modal"  href="/delete?{{item.id}}"
                           data-target="#rowModelDel{{loop.index0}}">
                            删除
                        </a>
                        <div class="modal fade" id="rowModelDel{{loop.index0}}" tabindex="-1" role="dialog"
                             aria-labelledby="rowModel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title text-danger" id="rmDelTitle{{loop.index0}}">严重! </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-danger">
                                        该操作不可逆! 是否继续?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消
                                        </button>
                                        <button type="button" class="btn btn-outline-primary deleteDetermine" data-dismiss="modal">继续删除</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                  {% endfor %}
    {% endif %}
<!--数据展示结束-->
                </tbody>
            </table>
        </div>
<!--分页开始-->
                    <div class="row">
                    <div class="col-md-12">
                        <span class="pagination_count" style="line-height: 84px;"> 共有{{pages.total}}条记录 | 每页{{pages.page_size}}条</span>
                        <ul class="pagination">
                            {% if pages.is_prev == 1 %}
                            <li class="page-item ">
                            {%  if isCondition %}
                                <a class="page-link" href="{{ pages.url }}&p={{ pages.current - 1 }}&condition={{condition}}"" aria-label="Previous">
                                    <span aria-hidden="true">上一页</span>
                                </a>
                                {% else %}
                                <a class="page-link" href="{{ pages.url }}&p={{ pages.current - 1 }}" aria-label="Previous">
                                    <span aria-hidden="true">上一页</span>
                                </a>
                        </li>
                            {% endif %}
                            {% endif %}

                            {% for idx in pages.range %}
                            {%  if isCondition %}

                            <li  {% if pages.current== idx %} class="page-item active" {% endif %}><a
                                href="{{ pages.url }}&p={{idx}}&condition={{condition}}" class="page-link">{{idx}}</a></li>
                            {% else %}

                            <li  {% if pages.current== idx %} class="page-item active" {% endif %}><a
                                href="{{ pages.url }}&p={{idx}}" class="page-link">{{idx}}</a></li>
                            {% endif %}

                            {% endfor %}


                            {% if pages.is_next == 1 %}
                            {%  if isCondition %}
                            <li class="page-item ">
                                <a href="{{ pages.url }}&p={{pages.current + 1}}&condition={{condition}}" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">下一页</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="page-item ">
                                <a href="{{ pages.url }}&p={{pages.current + 1}}" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">下一页</span>
                                </a>
                            </li>
                            {% endif %}
                            {% endif%}
                        </ul>
                    </div>

                </div>
<!--分页结束-->
    </div>
</main>

<div class="leftbottom" style="position:fixed; bottom:50px; left:30px;">
    <button type="button" class="rounded-circle btn btn-primary  text-center" style="width: 58px;height: 58px"
            data-toggle="modal" data-target="#addModel"
    >
        <svg class="bi bi-plus" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
        </svg>
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="addModel" tabindex="-1" role="dialog" aria-labelledby="addModel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModelTitle"> 联系人添加 </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-auto">
                <div class="container">
                    <div class="row">
                        <img class="mb-3 rounded-circle shadow m-auto"
                             src="/static/img/user_icon.jpg"
                             alt="Logo" width="72" height="72"></div>
                    <div class="row mt-2">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-md-1">
                                    <svg class="bi bi-person" width="1em" height="1em"
                                         viewBox="0 0 16 16" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>

                                    </svg>

                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="nameAddInput" placeholder="姓名">
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-md-1">
                                    <svg class="bi bi-building" width="1em" height="1em"
                                         viewBox="0 0 16 16" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M15.285.089A.5.5 0 0 1 15.5.5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5H1a.5.5 0 0 1-.5-.5v-6a.5.5 0 0 1 .418-.493l5.582-.93V3.5a.5.5 0 0 1 .324-.468l8-3a.5.5 0 0 1 .46.057zM7.5 3.846V8.5a.5.5 0 0 1-.418.493l-5.582.93V15h8v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.222l-7 2.624z"/>
                                        <path fill-rule="evenodd" d="M6.5 15.5v-7h1v7h-1z"/>
                                        <path d="M2.5 11h1v1h-1v-1zm2 0h1v1h-1v-1zm-2 2h1v1h-1v-1zm2 0h1v1h-1v-1zm6-10h1v1h-1V3zm2 0h1v1h-1V3zm-4 2h1v1h-1V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm-2 2h1v1h-1V7zm2 0h1v1h-1V7zm-4 0h1v1h-1V7zm0 2h1v1h-1V9zm2 0h1v1h-1V9zm2 0h1v1h-1V9zm-4 2h1v1h-1v-1zm2 0h1v1h-1v-1zm2 0h1v1h-1v-1z"/>
                                    </svg>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="companyAddInput" placeholder="单位">
                                </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-md-1">
                                    <svg class="bi bi-phone" width="1em" height="1em"
                                         viewBox="0 0 16 16" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                                        <path fill-rule="evenodd"
                                              d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                                    </svg>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="phoneAddInput" placeholder="电话号码">
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-md-1">
                                    <svg class="bi bi-envelope-fill" width="1em" height="1em"
                                         viewBox="0 0 16 16" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                                    </svg>
                                </div>
                                <div class="col-md-10">
                                    <input type="email" class="form-control" id="emailAddInput" placeholder="电子邮件">
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-md-1">

                                    <svg class="bi bi-blockquote-left" width="1em" height="1em"
                                         viewBox="0 0 16 16" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm5 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                                        <path d="M3.734 6.352a6.586 6.586 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299 1.38 1.38 0 0 0-.252.369c-.058.129-.1.295-.123.498h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.503.21-.336 0-.577-.108-.721-.327C2.072 8.619 2 8.328 2 7.969c0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352zm2.168 0a6.588 6.588 0 0 0-.445.275 1.94 1.94 0 0 0-.346.299c-.113.12-.199.246-.257.375a1.75 1.75 0 0 0-.118.492h.282c.242 0 .431.06.568.182.14.117.21.29.21.521a.697.697 0 0 1-.187.463c-.12.14-.289.21-.504.21-.335 0-.576-.108-.72-.327-.145-.223-.217-.514-.217-.873 0-.254.055-.485.164-.692.11-.21.242-.398.398-.562.16-.168.33-.31.51-.428.18-.117.33-.213.451-.287l.211.352z"/>
                                    </svg>
                                </div>
                                <div class="col-md-10">

                                    <input type="text" class="form-control" id="backupAddInput" placeholder="备注">
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-md-1">

                                    <svg class="bi bi-house" width="1em" height="1em"
                                         viewBox="0 0 16 16" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                        <path fill-rule="evenodd"
                                              d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                                    </svg>
                                </div>
                                <div class="col-md-10">

                                    <input type="text" class="form-control" id="addressAddInput" placeholder="家庭住址">
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-md-1">
                                    <svg class="bi bi-calendar-check" width="1em" height="1em"
                                         viewBox="0 0 16 16" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                                        <path fill-rule="evenodd"
                                              d="M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1zm1-3a2 2 0 0 0-2 2v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2z"/>
                                        <path fill-rule="evenodd"
                                              d="M3.5 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5zm9 0a.5.5 0 0 1 .5.5V1a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </div>
                                <div class="col-md-10">

                                    <input type="date" class="form-control" id="birthAddInput" placeholder="生日">
                                </div>
                            </li>

                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div class="col-md-1">
                                    <svg class="bi bi-music-player-fill" width="1em"
                                         height="1em" viewBox="0 0 16 16" fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm2 1a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2.5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V3zm7 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                        <circle cx="8" cy="11" r="1"/>
                                    </svg>
                                </div>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="musicAddInput" placeholder="铃声">
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"> 关闭
                </button>
                <button type="button" class="btn btn-outline-primary addDetermine" data-dismiss="modal"> 确定</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}
<script src="/static/js/index.js">
</script>
{% endblock %}